<?xml version="1.0" encoding="UTF-8"?>
<cdtprojectproperties>
<section name="org.eclipse.cdt.internal.ui.wizards.settingswizards.IncludePaths">
<language name="s">

</language>
<language name="c,S">
<includepath>../base_bsp/microblaze_0/include</includepath>

</language>
<language name="ld">

</language>
<language name="Object File">

</language>
</section>
<section name="org.eclipse.cdt.internal.ui.wizards.settingswizards.Macros">
<language name="s">

</language>
<language name="c,S">

</language>
<language name="ld">

</language>
<language name="Object File">

</language>
</section>
</cdtprojectproperties>
