*.bin
*.bit
*.edf
*.jou
*.log
*.xpr
*.dcp

FIG/digilent_arty/dut/vivado_project/
FIG/digilent_arty/fault_injection/.ipynb_checkpoints/
FIG/digilent_arty/fault_injection/tcl_client/.ipynb_checkpoints/
FIG/digilent_arty/fault_injection/tcl_client/__pycache__/
FIG/digilent_arty/tmr/vivado_project/

RPS/duts/*/*_prj*/
RPS/tmr/*_prj*/
RPS/bld/
RPS/tmr/__pycache__/
RPS/bins/*.bin
RPS/bins/*.bit
RPS/duts/noelv/grlib*/
RPS/bin_old/
RPS/duts/mb/aes_100/
RPS/duts/mb/kupci_200/
RPS/duts/mb/aes_50/
RPS/duts/mb/m510/
RPS/duts/kron/arty_export/
RPS/tmr/kronos_tmr/
